

body {
    background-image: url("../images/img11.jpg");
    background: rgba(0, 0, 0, .35) url("../images/img11.jpg");
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(160, 200, 250);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-style: normal;
}
